body{
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #838996;
    padding-left: 12px;
}
.row{
    padding-top: 30px;    
}

.col-lg-4{
    cursor: pointer;
}

.parceiros{
    background-color: #838996;
}

.seta{
    margin-bottom: 10px;
}

.bg-footer{
    background-color: black;
    padding-top: 10rem;
    color: white;
}

.serviços{
    background-color: #F8F0E3;
}

.quem-somos{
    background-color: #838996;
}

.text-quem-somos{
    padding-top: 35px;
}

.margin{
    padding-top: 10px;
    padding-bottom: 20px;
}